.promo {
  float: left;
  margin: 0;
  padding: 0;
  margin-left: 50px; 
}


.slider {
  position: relative;
  width: 1123px;
  height: 412px;
  margin: 0 auto;
}

.slider input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  bottom: 67px;
  left: 49%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 50;
}

.slider-controls label {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0 3px;
  background: #ffffff;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background:#c1c1c1;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: fade-in 1s ease;
}

.slide .btn {
  margin-top: 30px;
}

.slide:nth-child(1) {
  background: url("../img/slide1.png") no-repeat 100% 10px;
}

.slide:nth-child(2) {
  background: url("../img/slide2.png") no-repeat 100% 10px;
}

.slide:nth-child(3) {
  background: url("../img/slide3.png") no-repeat 100% 10px;
}

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

.services {
  padding-top: 40px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
}

.services-item {
  display: inline-block;
  float: left;
  text-align: left;
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
}

.about-us {
  border-bottom: 2px solid #eee;
}

.features {
  width: 670px;
  float: left;
  padding: 0;
  margin: 0;
  margin-top: 85px;
  margin-left: 43px; 
  margin-bottom: 60px;
}

.features span {
  font-size: 45px;
  line-height: 45px;
  color: #000;
  font-weight: 500;
}

.features p {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 28px;
}

.features ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 45px;
}

.features li::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  margin-right: 10px;
  background-color: #fb565a;
}

.advantages {
  float: right;
  width: 400px;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

.advantages table {
  margin-left: 7px;
  margin-top: 45px;
}

.advantages th {
  font-size: 45px;
  color: #000;
  padding-right: 15px;
  line-height: 45px;
}

.advantages th:last-child {
  padding-right: 60px;
}

.advantages td {
  line-height: 18px;
  padding-top: 20px;
  padding-left: 10px;
}

.advantages p {
  text-align: center;
  margin-top: 32px;  
}

.advantages sup {
  font-size: 28px;
}

.customers {
  border-bottom: 2px solid #eee;
}

.customers ul {
  list-style: none;
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 36px;
}

.customers li {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  opacity: 0.2;
}

.customers li:hover {
  opacity: 1;
  transition: 0.8s;
}

.customers li:active {
  opacity: 0.1;
}

