
.catalog-title {
  text-align: center;
  margin-bottom: 117px;
  margin-top: 83px;
  margin-left: 73px;
  display: inline-block;
  vertical-align: middle;
}

.main-page {
  margin-top: 15px;
}

.filter {
  float: left;
  margin-left: 40px;
  margin-top: 20px;
  background-color: #fff;
}

.range-filter {
  width: 240px;
  margin: 40px 0;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 30px;
  background: #eeeeee;
  border-radius: 5px;
  overflow: hidden;
}

.range-controls .scale {
  margin-top: 39px;
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .max-toggle {
  left: 145px;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  border: none;
  background: #f1f1f1;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #283136;
  border-radius: 5px; 
}

.price-controls .min-price {
  margin-right: 10px;
}

.filter-form ul {
  list-style: none;
  padding-left: 0px;
  line-height: 39px;
}

.filter-form label { 
 cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label span {
  display: inline-block;
  vertical-align: middle;
  width: 29px;
  height: 26px;
  margin: 0;
  margin-right: 4px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -30px -5px;
  opacity: 0.4;
  cursor: pointer;
}

input[type="checkbox"] + label span:hover {
  opacity: 1;
}

input[type="checkbox"]:checked + label span {
  background-position: -63px -5px;
} 

input[type="checkbox"]:checked + label span:hover {
  opacity: 1;
} 

input[type="radio"] {
  display: none;
}

input[type="radio"] + label span {
  display: inline-block;
  vertical-align: middle;
  width: 29px;
  height: 26px;
  margin: 0;
  margin-right: 4px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -100px -5px;
  opacity: 0.4;
  cursor: pointer;
}

input[type="radio"] + label span:hover {
  opacity: 1;
}

input[type="radio"]:checked + label span {
  background-position: -89px -40px;
}

input[type="radio"]:checked + label span:hover {
  opacity: 1;
}

.products {
  width: 760px;
  margin: 0 auto;
  float: right;
  margin-right: 18px;
}

.products-filter-nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  margin-right: 18px;
}

.products-filter-nav li {
  display: inline-block;
  vertical-align: middle;
}

.products-filter-nav a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal; 
  color: #000;
  opacity: 0.3;
  padding-right: 38px;
  margin-top: 30px;
}

.products-filter-nav a:hover {
  opacity: 0.6;
}

.products-filter-nav a:active {
  opacity: 1;
}

.products-filter-nav p {
  display: inline-block;
  position: relative;
  margin: 0;
  margin-top: 33px;
  margin-left: 130px; 
}

.products-filter-nav::after {
  content: "";
  float: right;
  position: relative;
  left: 350px;
  bottom: -34px;
  border: 5px solid transparent;
  border-top: 10px solid #000;
  cursor: pointer;
  opacity: 0.2;
}

.products-filter-nav:hover::after {
  opacity: 0.4;
}

.products-filter-nav:active::after {
  opacity: 1;
}

.products-filter-nav::before {
  content: "";
  float: right;
  position: relative;
  left: -19px;
  bottom: -29px;
  border: 5px solid transparent;
  border-bottom: 10px solid #000;
  opacity: 0.2;
  cursor: pointer;
}

.products-filter-nav:hover::before {
  opacity: 0.4;
}

.products-filter-nav:active::before {
  opacity: 0.2;
}

.circle-header .circle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
}

.circle-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-top: 12px;
}

.circle-header ul li {
  display: inline-block;
  margin: 0;
  padding-left: 10px;
}

.product-card {
  position: relative;
  float: left;
  width: 360px;
  height: 615px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-top: 40px;
  background-color: #eee;
  border-radius: 5px;
  z-index: 1;
  overflow: hidden;
}

@keyframes slide {
  0% {
    opacity: 0.1;
}
  10% {
    opacity: 0.2
}
  30% {
    opacity: 0.3
}
  50% {
    opacity: 0.5
}
  70% {
    opacity: 0.7
}
  90% {
    opacity: 0.9
}
  100% {
    opacity: 1;
}    
}

.product-card:hover {
  background-color: #4d4d4d;
  animation: slide 0.5s;
}

.product-card:nth-child(even) {
  margin-left: 40px;
}

.product-card a {
  text-decoration: none;
  color: #666;
}

.product-card img {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.product-card .price {
  display: none;
  background-color: #eee;
  z-index: 3;
  padding: 80px 38px;
  padding-top: 19px;
  padding-bottom: 41px;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.product-card:hover .price {
  display: block;
  opacity: 1;
  transition: 0.2s;
  transition-property: opacity;
}

.product-card .btn {
  color: #fff;
  font-weight: 500;
}

.products .page-nav {
  float: left;
  margin-top: 60px; 
}

.page-nav a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  min-width: 50px;
  height: 30px;
  padding: 10px 0;
  background-color: #eee;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  line-height: 34px;
  margin-left: 11px;
}

.page-nav a:last-child {
  padding-left: 85px;
  padding-right: 85px;
}

.page-nav a:hover {
  background-color: #dfdfdf;
}

.page-nav a:active {
  background-color: #dfdfdf;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
  color: rgba(0, 0, 0, 0.3);
}

.page-nav .current  {
  background-color: #fff;
  border: 2px solid #eee;
  height: 28px;
  margin-left: 0;
}
